extends layout

block content
  .container-fluid.rounded.pt-3.card.text-center.text-white
    .jumbotron
      .card-body.text-uppercase.text-light
        .bd-example
          .carousel.slide
            ol
              .carousel-indicators
              ul
                .active
                  img.rounded.mx-auto.d-block(src="/images/policelogo.jpeg" alt="None")
              ul
                h5.card-title.display-4 Uganda Police Force
                  p We protect and serve our nation
      hr.my-4
      .row
        .col-lg-4
          a(href="#")
            img.rounded-circle(src="images/chains.jpeg" alt="Generic placeholder image" width="140" height="140")
          h2 Cyber Crime
          p While the term cybercrime has gained widespread 
            |recognition and popular use,
            details
              summary.btn.btn-info View details
              p it has taken some time for the term to be recognized
                |by an actual definition used by dictionary, legal, and crime
                |prevention sources. Cybercrime is now defined as any criminal
                |offense that is facilitated by, or involves the use of,
                |electronic communications or information systems, including
                |any electronic device, computer, or the internet.
        .col-lg-4
          a(href="#")
            img.rounded-circle(src="images/homicide.jpeg" alt="Generic placeholder image" width="140" height="140")
          h2 Homicide
          p Homicide occurs when an individual ends the life of another human
            |being, whether intentionally or unintentionally.
          details
            summary.btn.btn-info View details
            p The term homicide simply refers to any act that caused or
              |resulted in the death of a person. This is different from
              |something the decedent did which resulted in his own death,
              |such as falling off a tall building. However, if the decedent
              |had been arguing with a co-worker on the roof, and the two
              |began a shoving match, which caused him to fall off the tall
              |building, the death would be considered a homicide. Still, it
              |isn’t necessarily murder, as circumstances may dictate that it
              |was an accident after all.
        .col-lg-4
          a(href="#")
            img.rounded-circle(src="images/cool-police-officers.jpg" alt="Generic placeholder image" width="140" height="140")
          h2 Terrorism
          p In its most basic definition, the term terrorism refers to any act that is perpetrated for the purpose of causing terror.
          details
            summary.btn.btn-info View details
            p There is no universal definition as to just what acts are
              |considered terrorism, but it is commonly considered to be an
              |action that causes fear and/or harm for a political,
              |ideological, religious, or economic objective. Acts of
              |terrorism deliberately target civilians, neutral military
              |personnel, or other non-combatants, with blatant disregard for
              |their safety. To explore this concept, consider the following
              |terrorism definition.