extends layout.pug 
block content
    header.card-header.align-items-center
        h2.card-tittle.mt-2 Login 
    article.card-body
        form(method="POST" action="/login")
            .form-row
                .form-group.col-md-4
                    label(for="") Officer ID
                .form-group.col-md-8
                    input.form-control(type="text" name="officerID")
            .form-row
                .form-group.col-md-4
                    label(for="") Enter password
                .form-group.col-md-8
                    input.form-control(type="password", name="password")
            .form-group
                .d-flex.justify-content-center 
                    button.btn.btn-success.btn-rounded(type="submit") Login
            .border-top.card-body.text-center  don't have an account? 
                a(href="./signUp.pug") sign Up
