extends layout.pug 
block content
    header.card-header.align-items-center
        .d-flex.justify-content-center
            h1.card-tittle.mt-2 Register        
    article.card-body
        form(method="POST" action="/register")
            .form-row
                .form-group.col-md-4
                    label(for="") User Name
                .form-group.col-md-8
                    input.form-control(type="text" name="userName")
            .form-row
                .form-group.col-md-4
                    label(for="") Officer ID
                .form-group.col-md-8
                    input.form-control(type="text" name="officerID")
            .form-row
                .form-group.col-md-4
                    label(for="") Gender
                .form-group.col-md-8
                    .form-row
                        .form-group.col-md-6
                            label(for="").form-check.form-check-inline
                                input.form-check-input(type="radio", name="gender")
                                .form-check-label Male
                        .form-group.col-md-6
                            label(for="").form-check.form-check-inline
                                input.form-check-input(type="radio", name="gender")
                                .form-check-label Female
            .form-row
                .form-group.col-md-4
                    label(for="") Rank
                .form-group.col-md-8
                    select.form-control(name="ranks")
                        option(value="IGP") IGP
                        option(value="others") Others
            .form-row
                .form-group.col-md-4
                    label(for="") Create password
                .form-group.col-md-8
                    input.form-control(type="password", name="password")
            .form-group
                .d-flex.justify-content-center 
                    button.btn.btn-lg.btn-primary.btn-rounded.btn-block.text-uppercase(type="submit") Sign Up
            div.text-muted
                small By clicking the 'Sign Up' button, you confirm that you accept our
            div.text-muted
                small Terms of use and Privacy Policy.
            .border-top.card-body.text-center  Have an account? 
                a(href="/login") Log In
